{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}
{% block div %}{% endblock %}
{% block body %}


	<div class="container" id="paiement">
		<div class="row">
			<div class="col-lg-5 m-auto ">
				<br><br>
				<div class="rounded border bg-light mt-5 shadow mb-3">
					<center class="py-2 pt-4">
						<a href="/">
							<img src="./images/jbvo.png" alt="jvgo" srcset="" class="logo"/>
						</a>
						<p class="fw-bold size-5 is-text-primary">CONNEXION</p>

					</center>

					<div class="border-top p-4 bg-white">
						<form method="post">

							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Connecte en tant que 
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Deconnexion</a>
								</div>
							{% endif %}

							<input type="text" class="form-control my-3" placeholder="Identifiant" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>

							<input type="password" class="form-control my-3" name="password" id="inputPassword" autocomplete="cunewrrent-password" required>

							<div class="text-center mt-2">

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

								<p class="text-center size-5 fw-3 alert alert-danger d-none" id="error-display"></p>

								<button class="my-3 btn text-white rounded-pill bg-secondary" type="submit">Se connecter

									<i class="mdi mdi-lock text-white"></i>

								</button>

								<center id="loading-indicator" class="d-none">
									<img src="{{ asset('images/loader.svg')}}" width="70px">
								</center>

							</div>
						</form>
					</div>


				</div>
				<br><br>
			</div>
		</div>
	</div>

	<script src="{{ asset('js/custom/main.min.js')}}"></script>

{% endblock %}
{% block footer %}{% endblock %}
{% block copyright %}{% endblock %}
