{% extends 'base.html.twig' %}

{% block title %}Acceuil | JVGO
{% endblock %}

{% block body %}

	<!-- SECTION 1 -->
	<div class="container-fluid section-1 px-3 mb-2">
		<div class="row p-2">
			<div class="col-lg-6 m-auto">
				<br><br>
				<p class="acceuil-text font-ubuntu fw-5 pr-5 row-5">
					Le bureau comptable qui vous conseille et vous accompagne
				</p>

				<div class="">
					<p class="size-7 fw-2 mb-3 mt-4">
						Vous cherchez un
						<b>cabinet comptable</b>
						et
						<b>fiscal</b>
						à prix attractif en Belgique ?
					</p>

					<p class="size-7 fw-2 mb-3">
						Jvgo adapte ses services à vos besoins tout en garantissant un tarif fixe, sans compromis sur la qualité.
					</p>

					<p class="size-7 fw-2 mb-3">
						Situés à
						<u>Bruxelles</u>
						et
						<u>Charleroi</u>, nous proposons nos services comptables et fiscaux dans toute la Belgique grâce au numérique.
					</p>

					<p class="size-7 fw-5 text-dark-blue">
						Vous pouvez vous concentrer sur votre activité,<br>Jvgo s’occupe du reste.
					</p>

					<!-- ACTIONS -->

					<div class="container-fluid m-0 py-lg-4 pt-5">
						<div class="row">
							<div class="col-lg-6">
								<div class="button-effect-3 my-1 py-3">
									<a href="/deleguer-ma-comptabilite" class="p-1">
										<span class="no-wrap">

											<i class="mdi mdi-chevron-right"></i>
											Déléguer ma comptabilité
										</span>
									</a>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="button-effect-3 my-1 py-3">
									<a href="/creation-entreprise" class="p-1">
										<span class="no-wrap">
											<i class="mdi mdi-chevron-right"></i>
											Créer mon entreprise
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-5 d-lg-block d-xl-block d-md-none d-sm-none m-auto p-0">
				<img src="{{ asset('images/home.png')}}" class="image1 m-0 p-0 " alt="" srcset=""/>
			</div>
		</div>
	</div>

	<!-- SECTION 2 -->

	<br/>
	<div class="container-fluid bg-light py-2">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="container">
					<div class="row p-2">
						<div class="p-2 p-lg-3 col-lg-4 m-auto text-center">
							<img src="{{asset('images/google.png')}}" alt="" srcset="" class="row-3"/>
							<center class="mt-3 size-6 opacity-2">
								Nos clients ont évalué nos services à 4,8 en moyenne sur  Google.
							</center>
						</div>

						<div class="p-2 p-lg-3 col-lg-4 m-auto text-center border-red">
							<img src="{{asset('images/itaa.png')}}" alt="" srcset="" class="row-3"/>
							<center class="mt-3 size-6 opacity-2">
								Certifié ITAA. Organisme certifiant la qualité et le sérieux des comptables de Belgique.
							</center>
						</div>

						<div class="p-2 p-lg-3 col-lg-4 m-auto text-center">
							<img src="{{asset('images/one.png')}}" alt="" srcset="" class="row-3"/>
							<center class="mt-3 size-6 opacity-2">
								En Belgique, plus de 1000 entreprises nous ont fait confiance pour gérer leur comptabilité.
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 3 -->
	<br/>
	<div class="container-fluid py-2 pt-4">
		<div class="row">
			<div class="col-lg-10 m-auto">
				<div class="container">
					<div class="row p-1 pt-5">
						<div class="col-lg-12">
							<p class="size-9 font-ubuntu">
								<b>Un pack pour chaque profil à des prix sur-mesure</b>,
								<br/>
								sans surprise !
							</p>
							<p class="size-6">
								Notre tarif ne comprend pas les frais de notaire qui seront à verser le jour de
								<br/>
								la signature de l’acte de création de la société
							</p>
						</div>
					</div>
				</div>
				<br>

				<div class="container">
					<div class="row">
						<div class="col-lg-12 m-auto">
							<div class="container p-sm-1">
								<div class="row p-1">
									<div class="col-lg-4 p-sm-1 m-auto">
										<div class="container-fluid py-3 p-sm-1 border rounded border selectable-box">
											<div class="row">
												<div class="col-lg-12 m-auto">
													<div class="m-1 p-2 p-lg-4 pt-2">
														<p class="size-7 fw-bold">
															Création de votre société
														</p>
														<ul class="size-5 no-style">
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Rédaction des
																	                  Statuts de la Société
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Étude de
																	                  faisabilité
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Fourniture d’un
																	                  plan (cartographie) détaillé du process
																	                  d’incorporation de la société
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Vérification du
																	                  dossier
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Etablissement du
																	                  plan financier par notre expert comptable
																	                  partenaire
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Prise de
																	                  rendez-vous pour passage de l’acte authentique
																	                  devant le notaire
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Immatriculation
																	                  auprès du greffe
															</li>
														</ul>
														<p class="text-center">
															<button class="btn btn-outline-dark mt-4">
																Continuer
															</button>
														</p>

													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 m-auto">
										<div class="container-fluid py-3 border rounded bg-light selectable-box">
											<div class="row">
												<div class="col-lg-12 m-auto">
													<div class="m-1 p-2 p-lg-4 pt-2">
														<p class="size-7 fw-bold">Comptabilité</p>
														<p class="size-4">
															Nous proposons une large gamme de services
																					                adaptés aux besoins de nos clients, qu'il
																					                s'agisse de TPE, de PME ou de grandes
																					                entreprises.
														</p>

														<p class="size-4">
															Pourquoi choisir votre notre pack compta pour
																					                votre entreprise?
														</p>

														<ol class="size-5 no-style">
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																. Un comptable
																	                  dédié et disponible pour répondre à toutes vos
																	                  sollicitations tout au long de l’année par
																	                  tchat, téléphone et même visioconférence.
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Des conseils
																	                  illimités avec notre juriste fiscalité et vos
																	                  déclarations d’impôt faites en toute sérénité
																	                  et à temps
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Un logiciel
																	                  comptable intelligent qui vous permet de gérer
																	                  efficacement la comptabilité de votre
																	                  entreprise, de gagner du temps et d'optimiser
																	                  votre travail en automatisant certaines tâches
																	                  fastidieuses et répétitives
															</li>
														</ol>

														<details>
															<summary>
																Avec notre logiciel, en quelques clics vous
																	                  êtes en mesure de :
															</summary>
															<div class="py-3">
																<ul class="size-5 no-style">
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>
																		Enregistrer
																									                      et suivre toutes les opérations comptables
																									                      de votre entreprise (achats, ventes,
																									                      encaissements, etc.)
																	</li>
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>Etablir des
																					                      états financiers tels que le bilan et le
																					                      compte de résultat
																	</li>
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>
																		Gérer la
																									                      paie de vos employés et les déclarations
																									                      sociales associées
																	</li>
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>
																		Gérer la TVA
																									                      et les déclarations fiscales
																	</li>
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>
																		Analyser les
																									                      performances de votre entreprise et
																									                      prendre des décisions éclairées grâce à
																									                      des tableaux de bord et des rapports
																									                      financiers
																	</li>
																</ul>

																<button class="btn btn-outline-dark mt-4">
																	Testez Gratuitement notre logiciel de
																					                    comptabilité (sans engagement)
																</button>
															</div>
														</details>

														<p class="text-center">
															<a href="./deleguer-ma-compta.html" class="text-dark">
																<button class="btn btn-outline-dark mt-4">
																	Je veux déléguer ma comptabilité
																</button>
															</a>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 m-auto">
										<div class="container-fluid py-3 border rounded selectable-box">
											<div class="row">
												<div class="col-lg-12 m-auto">
													<div class="m-1 p-2 p-lg-4 pt-2">
														<p class="size-7 fw-bold">
															Création de votre société + Comptabilité
														</p>
														<p class="size-4">
															Bénéficiez avec votre pack création d’une
																					                réduction exclusive sur nos tarifs de gestion
																					                comptable et optimisation fiscale comprenant:
														</p>

														<ul class="size-5 no-style">
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Un comptable
																	                  dédié et disponible
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Logiciel
																	                  comptable intelligent
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Des conseils
																	                  illimités avec notre juriste fiscalité et vos
																	                  déclarations d’impôt faites en toute sérénité
																	                  et à temps
															</li>
														</ul>

														<p class="text-center">
															<button class="btn btn-outline-dark mt-4">
																Je profite de l’offre de réduction
															</button>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 4 -->

	<br><br><br>
	<div class="container-fluid bg-light py-2">
		<div class="row">
			<div class="col-lg-12 m-auto">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<br><br>

							<p class="size-9 font-ubuntu fw-5 m-0">
								Des conseillers sur qui vous pouvez compter
							</p>
							<p class="font-ubuntu size-6 mt-3">
								Gestion de votre comptabilité, création de votre entreprise ou
									  établissement d’un plan financier. Nous sommes là pour vous
									  accompagner. Découvrez les témoignages de personnes qui ont
									  collaboré avec Jvgo.
							</p>

							<br>

							<div class="p-2 container-fluid">
								<div class="row">
									<div class="col-lg-3 p-2">
										<div class="border-line p-2 p-lg-3 m-1">
											<img src="{{asset('images/stars.png')}}" class="row-2" alt="" srcset=""/>
											<p class="font-merriweather size-6 fw-4">Flo</p>
											<p class="size-6">
												Très satisfaite de ma collaboration avec Jvgo !
																	          L’équipe est prévenante, rassurante et très aimable.
																	          J’obtiens toujours une réponse rapide à mes mails. En
																	          tant qu’entreprise « personne physique », leurs
																	          services répondent parfaitement à mes besoins. Je
																	          recommande.
											</p>
										</div>
									</div>

									<div class="col-lg-3">
										<div class="border-line p-2 p-lg-3 m-1">
											<img src="{{asset('images/stars.png')}}" class="row-2" alt="" srcset=""/>
											<p class="font-merriweather size-6 fw-4">Jimmy</p>
											<p class="size-6">
												Jvgo est un partenaire de confiance réactif, efficace
																	          et de qualité à prix raisonnable. Je recommande.
											</p>
										</div>
									</div>

									<div class="col-lg-3">
										<div class="border-line p-2 p-lg-3  m-1">
											<img src="{{asset('images/stars.png')}}" class="row-2" alt="" srcset=""/>
											<p class="font-merriweather size-6 fw-4">Gabrielle</p>
											<p class="size-6">
												Entièrement satisfaite de mon expérience Jvgo, du
																	          premier contact au suivi de mes dossiers. Une équipe à
																	          l’écoute, très réactive et ayant le soucis du détail.
																	          Je les recommande vivement !
											</p>
										</div>
									</div>

									<div class="col-lg-3">
										<div class="border-line p-2 p-lg-3  m-1">
											<img src="{{asset('images/stars.png')}}" class="row-2" alt="" srcset=""/>
											<p class="font-merriweather size-6 fw-4">Anwar</p>
											<p class="size-6">
												ça fait un peu plus de 5 mois que Jvgo est devenu mon
																	          conseiller comptable et je suis très satisfait de
																	          l’échange et le professionnalisme de la boite. Des
																	          experts aux services du client et disponibles à tout
																	          moment pour répondre aux différentes questions. Le
																	          Bonus : Une plateforme Numérique qui facilite l’Upload
																	          des factures et le suivi via un Dashboard. Merci pour
																	          votre guidance.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 5 -->

	<div class="container-fluid mt-1 py-2">
		<div class="row p-2">
			<div class="col-lg-12 m-auto">
				<div class="container">
					<div class="row">
						<div class="col-lg-10">
							<p class="size-9 font-ubuntu fw-5 m-0 mt-4">
								Avec Jvgo, un gestionnaire
							</p>
							<p class="font-ubuntu size-9 mt-1">
								réactif et expert de votre secteur
							</p>

							<br/>

							<div class="container">
								<div class="row">
									<div class="col-lg-5 d-lg-block d-xl-block d-md-none d-sm-none">
										<img src="{{asset('images/temoignage.png')}}" class="row-4" alt="" srcset=""/>
									</div>
									<div class="col-lg-7">
										<div class="">
											<p class="font-merriweather fw-5 size-8">
												Aucun déplacement requis
											</p>

											<p class="font-ubuntu size-6">
												Votre comptable dédié vous répond et vous conseille
																	          par e-mail ou par téléphone du lundi au vendredi :
																	          zéro déplacement pour vous, donc plus de temps à
																	          consacrer à votre activité !
											</p>
										</div>

										<div class="">
											<p class="font-merriweather fw-5 size-8">
												Fini la paperasse
											</p>

											<p class="font-ubuntu size-6">
												Depuis votre smartphone, votre tablette ou votre
																	          ordinateur, scannez tous vos documents quand vous le
																	          souhaitez via notre application. Moins de papier
																	          envoyé à votre comptable, pour une efficacité accrue !
											</p>
										</div>

										<div class="">
											<p class="font-merriweather fw-5 size-8">
												Informé(e) partout, tout le temps
											</p>

											<p class="font-ubuntu size-6">
												Grâce à notre système d’encodage immédiat de vos
																	          données, accédez en temps réel à votre comptabilité
																	          mise à jour et maîtrisez votre situation avec des
																	          tableaux de bord clairs, sous l’œil vigilant de votre
																	          conseiller !
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 6 -->

	<div class="bg-light container-fluid pt-5 pb-2">
		<div class="row p-2">
			<div class="col-lg-11">
				<div class="container">
					<div class="row">
						<div class="col-lg-11">
							<p class="font-ubuntu size-6 mt-2 m-0 mb-1">
								Créée et animée par des experts à l’écoute de tous les
									  entrepreneurs
							</p>
							<p class="size-9 font-ubuntu fw-5 m-0">
								la solution Jvgo est pour vous si …
							</p>

							<div class="container mt-3">
								<div class="row">
									<div class="p-2 p-lg-5 col-lg-8">
										<div class="d-flex mb-4">
											<p class="font-merriweather fw-5 size-6 p-2 m-1">
												<svg aria-hidden="true" role="img" height="1em" width="1em" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path fill="#9DA1B1" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path>
												</svg>
											</p>

											<p class="font-ubuntu size-6 m-1">
												Vous n’avez que peu ou pas de connaissances comptables
																	          et êtes en quête d’informations fiables
											</p>
										</div>

										<div class="d-flex mb-4">
											<p class="font-merriweather fw-5 size-6 p-2 m-1">
												<svg aria-hidden="true" role="img" height="1em" width="1em" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path fill="#9DA1B1" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path>
												</svg>
											</p>

											<p class="font-ubuntu size-6 m-0">
												Vous manquez de temps pour vous déplacer, gérer votre
																	          comptabilité et les questions administratives
											</p>
										</div>

										<div class="d-flex mb-4">
											<p class="font-merriweather fw-5 size-6 p-2 m-1">
												<svg aria-hidden="true" role="img" height="1em" width="1em" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path fill="#9DA1B1" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path>
												</svg>
											</p>

											<p class="font-ubuntu size-6 m-0">
												Vous cherchez une solution digitale avec de vrais
																	          conseils délivrés par des experts
											</p>
										</div>

										<div class="d-flex mb-4">
											<p class="font-merriweather fw-5 size-6 p-2 m-1">
												<svg aria-hidden="true" role="img" height="1em" width="1em" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path fill="#9DA1B1" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path>
												</svg>
											</p>

											<p class="font-ubuntu size-6 m-0">
												Vous tenez à payer le prix juste, sans dépassements
																	          mensuels ni frais dissimulés
											</p>
										</div>

										<div class="d-flex mb-4">
											<p class="font-merriweather fw-5 size-6 p-2 m-1">
												<svg aria-hidden="true" role="img" height="1em" width="1em" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path fill="#9DA1B1" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path>
												</svg>
											</p>

											<p class="font-ubuntu size-6 m-0">
												Vous souhaitez un accompagnement proactif pour
																	          réaliser vos déclarations en optimisant vos revenus
											</p>
										</div>

										<div class="d-flex mb-4">
											<p class="font-merriweather fw-5 size-6 p-2 m-1">
												<svg aria-hidden="true" role="img" height="1em" width="1em" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path fill="#9DA1B1" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path>
												</svg>
											</p>

											<p class="font-ubuntu size-6 m-0">
												Vous voulez consulter à n’importe quel moment l’état
																	          de vos comptes grâce à un outil fiable
											</p>
										</div>
									</div>
									<div class="col-lg-4 grid place-items d-lg-block d-xl-block d-md-none d-sm-none">
										<img src="{{asset('images/worker.png')}}" class="row-4" alt="" srcset=""/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 7 -->

	<div class="container-fluid mt-1 py-2">
		<div class="row p-2">
			<div class="col-lg-12 m-auto">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<p class="size-9 font-ubuntu fw-5 m-0 mt-4">En bref,</p>
							<p class="font-ubuntu size-8 mt-1">comment ça fonctionne ?</p>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="m-2">
								<p class="size-11 is-text-primary fw-5 m-0 mt-2">1.</p>
								<p class="fw-4 size-8 mt-1">
									Vous remplissez le formulaire de contact. Nous vous
													    répondons en moins de 24 heures.
								</p>

								<p class="size-6 mt-1 font-ubuntu">
									Pour prendre en charge votre comptabilité ou créer votre
													    entreprise, nous avons besoin de quelques informations
													    essentielles.
								</p>

								<div class="my-5">
									<a href="#" class="button-effect-3 size-5 p-2 p-lg-3">
										<span>
											<i class="mdi mdi-chevron-right"></i>
											Remplir le formulaire
										</span>
									</a>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="m-2">
								<p class="size-11 is-text-primary fw-5 m-0 mt-2">2.</p>
								<p class="fw-4 size-8 mt-1">
									Si nécessaire, nous vous accompagnons dans la création de
													    votre entreprise.
								</p>

								<p class="size-6 mt-1 font-ubuntu">
									Devenir travailleur indépendant ou créer une société ? Notre
													    équipe vous conseille sur la structure juridique à adopter
													    et simplifie l’ensemble de vos démarches de création.
								</p>

								<p class="size-6 mt-1 font-ubuntu">
									Notre objectif ? Vous faire gagner du temps pour lancer au
													    plus vite votre activité.
								</p>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="m-2">
								<p class="size-11 is-text-primary fw-5 m-0 mt-2">3.</p>
								<p class="fw-4 size-8 mt-1">
									Nous gérons vos questions comptables et fiscales au
													    quotidien.
								</p>

								<p class="size-7 mt-1 font-ubuntu">
									Clôture annuelle des comptes, déclaration d’impôt,
													    publication à la BNB, TVA… La comptabilité est plus qu’un
													    savoir-faire : c’est un métier.
								</p>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="m-2 mt-0">
								<p class="size-11 is-text-primary fw-5 m-0 mt-2">4.</p>
								<p class="fw-4 size-8 mt-1">
									Nous vous conseillons pour optimiser votre activité.
								</p>

								<p class="size-7 mt-1 font-ubuntu">
									Jvgo est plus qu’un simple cabinet de comptabilité digitale.
													    Nous vous délivrons des recommandations sur-mesure, basées
													    sur notre expérience.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 8 -->

	<div class="container-fluid mt-5 bg-light py-2">
		<div class="row p-2">
			<div class="col-lg-12 m-auto">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 pt-2">
							<p class="size-9 font-ubuntu fw-5 m-0 mt-4">Les réponses à</p>
							<p class="font-ubuntu size-8 mt-1">vos questions fréquentes</p>

							<br/>
							<br/>
							<div class="pb-4">
								<details class="mb-4">
									<summary class="size-6 fw-bold">Qui est Jvgo ?</summary>
									<p class="p-2 p-lg-4 size-6">
										Jvgo est un cabinet comptable né en 2016. Notre équipe
																	      fait partie du groupe CFG, une fiduciaire en activité
																	      depuis près de 30 ans et reconnue en Belgique comme à
																	      l’étranger pour ses travaux comptables, fiscaux et
																	      juridiques. Nous comptons aussi parmi les partenaires du
																	      réseau international TGS.
										<br/>
										Jvgo fut le premier bureau comptable belge à miser sur la
																	      comptabilité digitale. Pour autant, nous demeurons
																	      persuadés que le numérique doit rester au service de
																	      l’humain ; pas l’inverse.
										<br/>
										Ainsi, ce sont bien des experts en leur domaine qui vous
																	      conseillent au quotidien, accompagnés par une équipe
																	      juridique et fiscale intégrée à notre fiduciaire. Le tout,
																	      sans que vous ayez besoin de vous déplacer, depuis votre
																	      smartphone, tablette ou ordinateur. Un outil résolument
																	      pratique et connecté.
									</p>
								</details>

								<details class="mb-4">
									<summary class="size-6 fw-bold">
										Quelle différence entre Jvgo et une fiduciaire classique ?
									</summary>
									<p class="p-2 p-lg-4 size-6">
										Une société fiduciaire est un bureau comptable et fiscal.
																	      Cet établissement s’occupe, pour des travailleurs
																	      indépendants ou pour d’autres sociétés, de la
																	      comptabilité, de la fiscalité et des missions dévolues aux
																	      experts-comptables.
										<br/>
										Jvgo emploie le digital pour faciliter la transmission des
																	      documents et la communication. Nous vous dédions un
																	      conseiller proactif, qui ne va pas seulement honorer vos
																	      obligations comptables, mais qui va vous aider à optimiser
																	      vos performances.
										<br/>
										Jvgo, c’est aussi un point d’honneur mis à la
																	      disponibilité : par courriel, par visioconférence ou par
																	      téléphone, vous pouvez contacter votre conseiller pour
																	      bénéficier de ses recommandations. Il vous répond dans un
																	      délai de 24 heures (jours ouvrés).
									</p>
								</details>

								<details class="mb-4">
									<summary class="size-6 fw-bold">
										Je souhaite souscrire à un abonnement Jvgo : comment faire
																	      ?
									</summary>
									<p class="p-2 p-lg-4 size-6">
										Envie de tenter l’expérience ? Choisissez tout simplement
																	      sur notre site internet l’abonnement qui correspond à
																	      votre profil. Vous accédez ensuite à un formulaire de
																	      contact ; une fois celui-ci rempli, un conseiller Jvgo
																	      vous contacte en moins de 24 heures (jours ouvrés) pour en
																	      savoir plus sur vous et vous proposer la solution la mieux
																	      adaptée à votre situation.
										<br/>
										Si, à l’issue de votre entretien, vous souhaitez vous
																	      lancer, votre dossier est finalisé : votre comptabilité
																	      devient alors notre affaire.
										<br/>
										Nos abonnements sont sans engagement : vous partez quand
																	      vous le souhaitez avec seulement un mois de préavis… et
																	      revenez quand bon vous semble.
									</p>
								</details>

								<details class="mb-4">
									<summary class="size-6 fw-bold">
										Quand puis-je contacter mon conseiller comptable ?
									</summary>
									<p class="p-2 p-lg-4 size-6">
										Tous les conseillers Jvgo sont disponibles du lundi au
																	      vendredi entre 9h et 18h. Ils vous répondent soit par
																	      e-mail, soit par téléphone, soit par visioconférence en 24
																	      heures (jours ouvrés). Et s’ils se reposent le week-end,
																	      c’est pour revenir en pleine forme pour vous accompagner
																	      toute la semaine.
									</p>
								</details>

								<details class="mb-4">
									<summary class="size-6 fw-bold">
										Quels sont les avantages d’un service de comptabilité
																	      digitale ?
									</summary>
									<div class="p-2 p-lg-4 size-6">
										<ol>
											<li>
												<b>Vous numérisez toutes vos factures et pièces
													            justificatives et nous les faites parvenir en un
													            clic.</b>
												Depuis votre smartphone, tablette ou ordinateur.
											</li>
											<li>
												<b>Vous ne vous encombrez plus d’aucun document
													            papier.</b>
												Vous pouvez consulter ces pièces à l’envi depuis
																	          l’interface WinBooks Connect, la plateforme 100 %
																	          sécurisée utilisée par Jvgo. WinBooks Connect vous
																	          permet aussi de consulter vos comptes et vos tableaux
																	          de bord 24 heures sur 24, 7 jours sur 7.
											</li>
											<li>
												<b>Vous suivez l’évolution de votre trésorerie en
													            temps réel et pilotez ainsi votre rentabilité.</b>
												Le tout, sans multiplier les échanges d’e-mails… et en
																	          évitant les factures qui terminent dans les spams.
											</li>
										</ol>
									</div>
								</details>

								<details class="mb-4">
									<summary class="size-6 fw-bold">
										J’hésite entre plusieurs abonnements ou packs : lequel est
																	      fait pour ma structure ?
									</summary>
									<p class="p-2 p-lg-4 size-6">
										Chez Jvgo, la simplification n’est pas une parole en l’air
																	      : nous avons volontairement restreint nos offres de
																	      manière à ce que vous sachiez laquelle choisir en un clin
																	      d’œil.
									</p>
									<b>3 choix vous sont proposés :</b>
									<ol>
										<li>
											<b>Indépendant :</b>
											vous cherchez une assistance en
													        tant que travailleur indépendant
										</li>
										<li>
											<b>Société :</b>
											vous cherchez un accompagnement en tant
													        que chef d’entreprise ou start-up
										</li>
									</ol>
									<p>
										Choisissez, cliquez… et faites-vous rappeler. Et si cela
																	      semble aussi simple, c’est que ça l’est.
									</p>
								</details>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 9 -->

	<div class="container-fluid mt-1 py-2">
		<div class="row p-2">
			<div class="col-lg-12 m-auto">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 m-auto">
							<p class="size-9 font-ubuntu fw-5 m-0 mt-4">
								Une place pour chaque métier,
							</p>
							<p class="font-ubuntu size-8 mt-1">
								et chaque métier à sa place
							</p>

							<br/>

							<div class="container">
								<div class="row">
									<div class="col-lg-4 d-lg-block d-xl-block d-md-none d-sm-none grid align-items p-2 p-lg-3 m-auto">
										<img src="{{asset('images/place.png')}}" class="row-5 p-1" alt="" srcset=""/>
									</div>
									<div class="col-lg-8 p-2 p-lg-3">
										<div class="">
											<p class="fw-4 size-6">
												Vous exercez en tant qu’avocat en profession libérale
																	          ?
											</p>

											<p class="font-ubuntu size-6">
												Vous serez confié(e) à un conseiller expert de la
																	          compta
												<br/>
												propre aux professionnels du droit.
											</p>
										</div>

										<div class="">
											<p class="fw-4 size-6">
												Vous dirigez une société de consultants IT ?
											</p>

											<p class="font-ubuntu size-6">
												Là aussi, un conseiller dédié aux questions comptables
												<br/>
												et fiscales des technologies de l’information prendra
																	          en
												<br/>
												charge votre dossier.
											</p>
										</div>

										<div class="">
											<p class="fw-4 size-7">
												Jvgo est spécialisé dans la gestion comptable des :
											</p>

											<div class="font-ubuntu size-7">
												<ul>
													<li><a href="#"><u class="size-7 is-text-primary">avocats</u></a></li>
													<li><a href="#"><u class="size-7 is-text-primary">agents immobiliers</u></a></li>
													<li><a href="#"><u class="size-7 is-text-primary">chirurgiens-dentistes</u></a></li>
												</ul>
											</div>

											<p class="size-7 pt-2">
												Disponibles du lundi au vendredi,
												<span class="is-text-primary">spécialistes de votre métier</span>, soucieux de vous aider, et parfois en congés mais
													          instantanément remplacés : nos conseillers sont
													          professionnels et proactifs, tout simplement !
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 10 -->
	<div class="container-fluid bg-light mt-2 py-3">
		<div class="row p-2">
			<div class="col-lg-12 m-auto">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<p class="size-9 font-ubuntu fw-5 m-0 mt-4">
								5 bonnes raisons,
							</p>
							<p class="font-ubuntu size-8 mt-1">de travailler avec nous</p>
						</div>
					</div>
				</div>
				<br/>

				<div class="container">
					<div class="row">
						<div class="col-lg-4 m-auto">
							<div class="m-2 border-right">
								<p class="size-10 text-black fw-5 m-0 mt-2">1.</p>
								<p class="fw-4 size-7 mt-1">
									Des conseillers proactifs, qui œuvrent à votre succès
								</p>

								<p class="size-6 mt-2 font-ubuntu">
									Parce qu’on a tous besoin d’une seconde opinion – que vous
													    décidiez de la suivre ou pas
								</p>
							</div>
						</div>

						<div class="col-lg-4 m-auto">
							<div class="m-2 border-right">
								<p class="size-10 text-black fw-5 m-0 mt-2">2.</p>
								<p class="fw-4 size-7 mt-1">
									Derrière le digital, des hommes et des femmes à votre écoute
								</p>
								<p class="size-6 mt-2 font-ubuntu">
									Parce qu’on préfère confier le succès de votre entreprise à
													    un être humain plutôt qu’à un robot
								</p>
							</div>
						</div>

						<div class="col-lg-4 m-auto">
							<div class="m-3">
								<p class="size-10 text-black fw-5 m-0 mt-2">3.</p>
								<p class="fw-4 size-7 mt-1">
									Avec la numérisation de vos documents, finie la paperasse
								</p>

								<p class="size-6 mt-1 font-ubuntu">
									Parce que notre plateforme dépoussière vos vieux dossiers et
													    préserve nos forêts
								</p>
							</div>
						</div>

						<div class="col-lg-4 m-auto border-right">
							<div class="m-3">
								<p class="size-10 text-black fw-5 m-0 mt-2">4.</p>
								<p class="fw-4 size-7 mt-1">
									Une équipe disponible toute la journée du lundi au vendredi
								</p>

								<p class="size-6 mt-1 font-ubuntu">
									Parce que votre business mérite la réactivité chaque jour
													    ouvré
								</p>
							</div>
						</div>

						<div class="col-lg-4 m-auto">
							<div class="m-3">
								<p class="size-10 is-text-primary fw-5 m-0 mt-2">5.</p>
								<p class="fw-4 size-7 mt-1">
									Un démarrage rapide, en une poignée de clics
								</p>

								<p class="size-6 mt-1 font-ubuntu">
									Parce qu’il suffit de quelques minutes pour nous confier
													    votre comptabilité – et souffler, enfin.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 11 -->
	<div class="container-fluid mt-3 py-3">
		<div class="row p-2">
			<div class="col-lg-12 m-auto">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="size-9 font-ubuntu fw-5 m-0 mt-4">
								Ressources comptables   
							</p>
							<p class="font-ubuntu size-6 mt-1">
								Découvrez les guides comptables Jvgo.
							</p>
						</div>
					</div>
				</div>
				<br/>

				<div class="container">
					<div class="row">
						<div class="col-lg-4 m-auto">
							<div class="m-2 bg-light p-2 p-lg-4">
								<img src="{{asset('images/guide.png')}}" class="row-5 text-center" alt=""/>
								<p class="size-7 text-black fw-5 m-0 mt-4">
									<a href="#">
										<u class="fw-bold text-black">Comptabilité des indépendants</u>
									</a>
								</p>

								<p class="size-6 mt-2">
									Quelles sont les règles, obligations et facilités comptables
													    des indépendants belges ? Qu’est-ce que la comptabilité
													    simplifiée ? Comment gérer la TVA ? Toutes les infos pour
													    les activités libérales, commerciales ou artisanales.
									<u>En découvrir plus.</u>
								</p>
							</div>
						</div>

						<div class="col-lg-4 m-auto">
							<div class="m-2 bg-light p-2 p-lg-4">
								<img src="{{asset('images/guide.png')}}" class="row-5 text-center" alt=""/>
								<p class="size-7 text-black fw-5 m-0 mt-4">
									<a href="#">
										<u class="fw-bold text-black">Comptabilité des sociétés</u>
									</a>
								</p>

								<p class="size-6 mt-4">
									Quelles sont les règles et obligations comptables des
													    sociétés belges ? En quoi consiste la comptabilité double ?
													    Que faut-il savoir au sujet de la TVA et du PCMN ?
									<u>En découvrir plus.</u>
								</p>
							</div>
						</div>

						<div class="col-lg-4 m-auto">
							<div class="m-2 bg-light p-2 p-lg-4">
								<img src="{{asset('images/guide.png')}}" class="row-5 text-center" alt=""/>
								<p class="size-7 text-black fw-5 m-0 mt-4">
									<a href="#">
										<u class="fw-bold text-black">Créer une société</u>
									</a>
								</p>

								<p class="size-6 mt-2">
									Quels sont précisément
									<b>les grandes étapes de la constitution d’une société</b>
									?
													    Combien coûte d’ouvrir son entreprise ? Comment faire, si
													    vous exercez déjà une activité d’indépendant, pour passer en
													    personne morale ?
									<u>En découvrir plus.</u>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 12 -->
	<div class="container-fluid bg-light mt-5 py-5">
		<div class="row p-2">
			<div class="col-lg-11 m-auto">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 m-auto">
							<p class="size-8 fw-bold font-merriweather">
								Intéressé(e) par l’un de nos services comptables ?
							</p>
							<p class="size-6 is-text-primary">
								Nous vous contactons en moins de 24 heures.
							</p>

							<p class="size-6 text-black mb-4">
								Vous souhaitez démarrer votre activité ? Déléguer votre compta
									  ? Ou contacter un de nos experts pour avoir plus
									  d’informations ?
							</p>

							<p class="size-6 text-black mb-4">
								Notre équipe est là pour vous conseiller. Remplissez le
									  formulaire et vous recevrez une réponse en moins de 24 heures.
							</p>
						</div>

						<div class="col-lg-6 m-auto">
							<div class="bg-white rounded p-2 p-lg-3">
								<br/>
								<div class="mx-4">
									<p class="m-0 mb-1">
										Je souhaite
										<span>
											<sup class="is-text-primary">*</sup>
										</span>
									</p>
									<select class="form-control">
										<option value="Déléguer ma comptabilité en tant qu'indépendant">
											Déléguer ma comptabilité en tant qu'indépendant
										</option>
										<option value="Déléguer ma comptabilité en tant que société">
											Déléguer ma comptabilité en tant que société
										</option>
										<option value="Devenir indépendant">
											Devenir indépendant
										</option>
										<option value="Créer une entreprise">
											Créer une entreprise
										</option>
										<option value="Autre">Autre</option>
									</select>
								</div>

								<br/>

								<div class="mx-4">
									<p class="m-0 mb-1">
										Civilité
										<span>
											<sup class="is-text-primary">*</sup>
										</span>
									</p>

									<select class="form-control">
										<option value="Madame">Madame</option>
										<option value="Monsieur">Monsieur</option>
									</select>
								</div>

								<br/>

								<div class="container-fluid">
									<div class="row">
										<div class="col-lg-6">
											<p class="m-0 mb-1">
												Prénom
												<span>
													<sup class="is-text-primary">*</sup>
												</span>
											</p>
											<input type="text" class="form-control"/>
										</div>

										<div class="col-lg-6">
											<p class="m-0 mb-1 mt-2">
												Nom
												<span>
													<sup class="is-text-primary">*</sup>
												</span>
											</p>
											<input type="text" class="form-control"/>
										</div>

										<div class="col-lg-6">
											<p class="m-0 mb-1 mt-2">
												Email
												<span>
													<sup class="is-text-primary">*</sup>
												</span>
											</p>
											<input type="email" class="form-control"/>
										</div>

										<div class="col-lg-6">
											<p class="m-0 mb-1 mt-2">
												Téléphone
												<span>
													<sup class="is-text-primary">*</sup>
												</span>
											</p>
											<input type="tel" class="form-control"/>
										</div>
									</div>
								</div>

								<div class="my-5 text-center">
									<a href="#" class="button-effect-3 size-6 p-2 p-lg-3">
										<span class="px-4">
											Envoyer
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
