{% extends 'base.html.twig' %}

{% block title %}Tableau de board | JVGO
{% endblock %}
{% block div %}{% endblock %}
{% block body %}

	<style>
		body {
			overflow: hidden
		}
	</style>

	<div class="container-fluid p-0 font-ubuntu overflow-hidden">
		<div class="row p-0 m-0">
			<div class="col-lg-2 bg-dark vh-100 overflow-hidden d-sm-none d-md-block" id="toggle-menu-mobile">
				<p class="d-flex justify-content-end d-sm-block d-md-block d-lg-none d-xl-none ">
					<span class="size-3 px-1 pt-4 text-dark fw-1 is-pointer" onclick="closeMenu()">
						<i class="mdi mdi-close size-7 text-violet"></i>
						MENU</span>
				</p>
				<div class="mt-5 p-3">
					<a href="/"><img src="{{ asset('images/jbvo.png')}}" width="160px"></a>
					<br><br>
					<div class="py-4 px-2 fw-2">
						<p>
							<a class="size-3 px-1 text-light fw-1" href="/dashboard">
								<i class="mdi mdi-circle size-2 is-text-primary"></i>
								&nbsp; &nbsp; TABLEAU DE BORD</a>
						</p>
						<p>
							<a class="size-3 px-1 text-light fw-1" href="/dashboard/demandes/1">
								<i class="mdi mdi-circle size-2 is-text-primary"></i>
								&nbsp; &nbsp; ENTREPRISE</a>
						</p>

						<p>
							<a class="size-3 px-1 text-light fw-1" href="/dashboard/demandes/2">
								<i class="mdi mdi-circle size-2 is-text-primary"></i>
								&nbsp; &nbsp; COMPTABILITE</a>
						</p>
						<p>
							<a class="size-3 px-1 text-light fw-1" href="/">
								<i class="mdi mdi-circle size-2 is-text-primary"></i>
								&nbsp; &nbsp; ACCEUIL JVGO</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-10 p-0 vh-100 overflow-scroll">
				<div class="d-flex justify-content-end p-3 pt-4 align-items-center d-sm-none d-lg-block  d-xl-block">
					<div class="d-flex justify-content-between align-items-center flex-nowrap">
						<span class="size-3 px-1 text-dark fw-1">
							<i class="mdi mdi-circle size-2 text-violet"></i>
							DETAIL DEMANDE</span>
						<a class="size-3 px-1 text-dark fw-1 is-pointer" onclick="deconnexion()">
							<i class="mdi mdi-logout size-7 text-violet"></i>
							DECONNEXION</a>
					</div>
				</div>
				{# Mobile view  #}
				<div class="d-flex justify-content-between p-3 pt-5 align-items-center d-sm-block d-md-block d-lg-none d-xl-none ">
					<div class="d-flex justify-content-between flex-nowrap">
						<span class="size-3 px-1 text-dark fw-1 is-pointer" onclick="openMenu()">
							<i class="mdi mdi-menu size-7 text-violet"></i>
							MENU</span>
						<a class="size-3 px-1 text-dark fw-1 is-pointer" onclick="deconnexion()">
							<i class="mdi mdi-logout size-7 text-violet"></i>
							DECONNEXION</a>
					</div>
				</div>

				<div class="p-0 rounded p-3 pt-0">

					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12 py-3 px-lg-4 ">

								<p class="">Details de la
									<span class="is-text-primary">demande
									</span>
									du
									{{ demande.DateCreation}}</p>

								<div class="container-fluid p-0">
									<div class="row p-0">
										<div class="col-lg-4">
											<div class="mt-1 border rounded">
												<div class="card">
													<div class="card-header">
														Informations generales
													</div>
													<div class=" card-body">
														<p class="size-5">
															<b>Nom :
															</b>
															{{ demande.Nom}}
														</p>
														<p class="size-5">
															<b>Nom :
															</b>
															{{ demande.Prenom}}
														</p>
														<p class="size-5">
															<b>Civilite :
															</b>
															{{ demande.Civilite}}
														</p>
														<p class="size-5">
															<b>Email :
															</b>
															<span id="user-mail">{{ demande.Email}}</span>
															<span id="user-id" class="opacity-0">{{ demande.id}}</span>
														</p>


													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="mt-1 border rounded">
												<div class="card">
													<div class="card-header">
														Entreprise
													</div>
													<div class=" card-body">
														<p class="size-5">
															<b>Societe :
															</b>
															{{ demande.NomStructure}}
														</p>
														<p class="size-5">
															<b>Type :
															</b>
															{{ demande.Structure}}
														</p>


													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="mt-1 border rounded">
												<div class="card">
													<div class="card-header">
														Pack
													</div>
													<div class=" card-body">


														{% if demande.EntrepriseOrCompta == 2 %}
															<p class="size-5">
																<b>Type d'abonnement :
																</b>
																{{ demande.TypeAbonnement}}
															</p>

															<p class="size-5">
																<b>Montant :
																</b>
																{{demande.Montant}}
																Euros
																<span class="is-text-primary">(TTC/mois)</span>
															</p>
															<p class="size-5">
																<b>Delai de creation :
																</b>
																{{ demande.DelaiCreation}}
															</p>
														{% endif %}

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								{% if demande.Status != "Repondu" %}
								<div class="col-lg-10 m-2 mb-5">
									<p class="pt-4">Reponse a la
										<span class="is-text-primary">demande</span>.</p>

									<textarea name="" cols="30" id="message-reponse" placeholder="Ecrivez votre message de reponse ici" class="form-control" rows="5"></textarea>

									<center id="loading-indicator" class="d-none">
										<img src="{{ asset('images/loader.svg')}}" width="100px">
									</center>
									
										<button onclick="reponseEmail()" class="btn btn-secondary my-3">Valider</button>

								</div>
								{% else %}
										<p class="alert alert-success my-3">Repondu</p>
									{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ asset('js/custom/dashboard.js')}}"></script>

{% endblock %}
{% block footer %}{% endblock %}
