{% extends 'base.html.twig' %}

{% block title %}Creer mon entreprise | JVGO Business Builder
{% endblock %}

{% block body %}
	<style>
		.not-immuable-on-mobile {
			display: none !important;
		}
	</style>
	{% block div %}{% endblock %}

	{% block hamburger %}{% endblock %}

	<!-- MOBILE HAMBURGER -->
	<div class="container-fluid shadow-sm bg-white">
		<div class="row">
			<div class="col-12 py-2 d-flex justify-content-center align-items-center">
				<img src="{{asset('images/jbvo.png')}}" width="160px" class="is-pointer" onclick="newPage('/')" alt="" srcset=""/>
			</div>
		</div>
	</div>


	<!-- SECTION 1 -->
	<div class="col-12 d-flex justify-content-center">
		<div class="container-fluid section-1 px-3 fv" style="padding-top:30px; padding-bottom:30px">
		<div class="row">
			<div class="col-lg-8 size-10 pt-5 pt-sm-4 pt-md-4 m-auto">
				<div class="text-center">
					<p class="size-10 fs-3 font-ubuntu fw-bolder pr-5 mt-2 is-text-primary">
						Créez votre entreprise simplement
						<br class="d-sm-none d-md-none d-lg-block d-lg-block">
						<span class="text-dark">
							et rapidement !</span>
					</p>
					<p class="size-7 fw-2 my-4 opacity-3">
						<b>Démarrez la création de votre société</b>
						en quelques clics et
																														              nous nous occupons du reste. Toutes les étapes de création de
																														              votre entreprise, du choix de votre statut juridique jusqu'à la
																														              rédaction de
						<b>votre business plan et plan financier</b>.
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- SECTION 2 -->

	<div class="col-12 bg-light d-flex justify-content-center" style="padding-top:20px; padding-bottom:5px">
		<div class="container-fluid bg-light py-2 pb-5 fv" id="creer-mon-entreprise">
		<div class="row">
			<div class="col-lg-12 m-auto p-0">
				<div class="container p-0">
					<div class="row p-2">
						<div class="p-2 p-lg-3 col-lg-10 m-sm-auto m-md-auto">
							<p class="size-9 fs-5 col-sm-11 col-md-11 fw-2 mt-1 d-flex justify-content-lg-start justify-content-sm-center justify-content-md-center">
								<b>Forme juridique souhaitée</b>
							</p>

							<div class="container-fluid p-sm-0 d-flex justify-content-lg-start justify-content-sm-center justify-content-md-center">
								<div class="row d-flex justify-content-lg-start justify-content-md-center justify-content-sm-center">
									<div class="col-md-5 col-sm-5 col-lg-2  grid place-items rounded bg-white p-2 p-lg-3 shadow m-1 ">
										<a href="/procedure-creation-entreprise/Société à Responsabilité Limitée (SRL)" class="text-dark">
											<div class="text-center m-1">
												<img src="{{ asset('images/1.svg')}}" class="col-sm-4 col-md-3" alt="" srcset=""/>
												<p class="size-6 pt-2">Société à Responsabilité Limitée (SRL)</p>
											</div>
										</a>
									</div>

									<div class="col-md-5 col-sm-5 col-lg-2 grid place-items rounded bg-white p-2 p-lg-3 shadow m-1 ">
										<a href="/procedure-creation-entreprise/Société Anonyme (SA)" class="text-dark">
											<div class="text-center m-1">
												<img src="{{ asset('images/8.svg')}}" class="col-sm-4 col-md-3" alt="" srcset=""/>
												<p class="size-6 pt-2">Société Anonyme (SA)</p>
											</div>
										</a>
									</div>

									<div class="col-md-5 col-sm-5 col-lg-2 grid place-items rounded bg-white p-2 p-lg-3 shadow m-1 ">
										<a href="/procedure-creation-entreprise/Société Coopérative (SC)" class="text-dark">
											<div class="text-center m-1">
												<img src="{{ asset('images/7.svg')}}" class="col-sm-4 col-md-3" alt="" srcset=""/>
												<p class="size-6 pt-2">Société Coopérative (SC)</p>
											</div>
										</a>
									</div>

									<div class="col-md-5 col-sm-5 col-lg-2 grid place-items rounded bg-white p-2 p-lg-3 shadow m-1 ">
										<a href="/procedure-creation-entreprise/Société Simple (SS)" class="text-dark">
											<div class="text-center m-1">
												<img src="{{ asset('images/11.svg') }}" alt="" srcset=""/>
												<p class="size-6 pt-2">Société Simple (SS)</p>
											</div>
										</a>
									</div>

									<div class="col-md-4 col-sm-4 grid place-items col-lg-2 rounded bg-white p-2 p-lg-3 shadow m-1 ">
										<a href="/procedure-creation-entreprise/Je ne sais pas" class="text-dark">
											<div class="text-center m-1">
												<img src="{{ asset('images/12.svg')}}" class="col-sm-5 col-md-3" alt="" srcset=""/>
												<p class="size-6 pt-2">Je ne sais pas</p>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


	<div class="col-12 d-flex justify-content-center" style="padding-top:40px; padding-bottom:25px">
		<div class="container fv">
		<div class="row ">
			<div class="col-11 m-auto">
				<div class="p-3 py-lg-4 size-7">
					<b>Important</b>
					: Il est important de déterminer la bonne forme juridique de votre société avant de démarrer votre activité, 
					car cela peut avoir des conséquences importantes sur votre responsabilité financière, votre régime fiscal et votre gestion de l’entreprise.
					<br>
					<br>
					Si vous ne savez pas encore quelle forme choisir, notre juriste expert vous aidera à déterminer la forme juridique la plus adaptée à votre activité.
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}
{% block footer %}{% endblock %}
