{% extends 'base.html.twig' %}

{% block title %}Procedure deleguer ma compta |
	{{ typeUser}}
{% endblock %}

{% block body %}
	<style>
		.not-immuable-on-mobile {
			display: none !important;
		}
	</style>
	{% block div %}{% endblock %}

	{% block hamburger %}{% endblock %}

	<!-- MOBILE HAMBURGER -->
	<div class="container-fluid shadow-sm bg-white">
		<div class="row">
			<div class="col-12 py-2 d-flex justify-content-center align-items-center">
				<img src="{{asset('images/jbvo.png')}}" width="220px" class="is-pointer" onclick="newPage('/')" alt="" srcset=""/>
			</div>
		</div>
	</div>


	<div class="container">
		<div
			class="row">
			<!-- content-step-3 -->
			<div class="col-lg-7 m-auto">

				<p class="is-text-primary text-uppercase text-center size-6 fw-3 mt-4">
					Je veux déléguer ma comptabilité
				</p>
				<p class="text-center pb-2 size-5 pb-sm-0 pb-md-0">
					Categorie :
					<b id="typeUser">{{typeUser}}</b>
					<br>
					<span class="opacity-0 pb-sm-0 pb-md-0">
						<b id="typePack">{{typePack}}</b>
						/
						<b id="TypeAbonnement">{{TypeAbonnement}}</b>/<b id="Prix">{{Prix}}</b>
					</span>
				</p>


				<p class="navlink" onclick="pageArriere()">
					<i class="mdi mdi-chevron-left size-6"></i>
					<u>Retour</u>
				</p>


				<p class="text-dark text-center py-2 size-6 fw-4" id="informations">Vos informations</p>
				<p class="text-center size-5 fw-3 alert alert-danger d-none" id="error-display"></p>
				<div class="container-fluid py-lg-3 border rounded mb-4">
					<div class="row">
						<div class="col-lg-12 m-auto">
							<div class="m-1 p-lg-4 pt-2">

								<div id="form-demande">

									{% if UserController == 1 %}

										<div class="container-fluid p-0">
											<div class="row">

												<div class="col-lg-6 m-auto ">
													<div class="rounded border pl-4">
														<div class="form-check px-3 py-2 form-check-inline">
															<input class="form-check-input pl-4" type="radio" name="inlineRadioOptions" id="radioMadame" value="option1">
															<label class="form-check-label is-pointer" for="radioMadame">Madame</label>
														</div>
													</div>
												</div>

												<div class="col-lg-6 m-auto ">
													<br class="d-sm-block d-md-block d-lg-none d-lg-none">
													<div class="rounded border pl-4">
														<div class="form-check px-3 py-2 form-check-inline">
															<input class="form-check-input pl-4" type="radio" name="inlineRadioOptions" id="radioMonsieur" value="option2">
															<label class="form-check-label is-pointer" for="radioMonsieur">Monsieur</label>
														</div>
													</div>
												</div>

											</div>
										</div>

									{% else %}

										<p class="text-dark size-4 m-0 my-1 mt-3">Renseignez le Nom de l'entreprise
										</p>
										<input type="text" class="form-control size-4" id="NomEntreprise">

									{% endif %}
									<p class="text-dark size-4 m-0 my-1 mt-3">Renseignez votre Nom
									</p>
									<input type="text" class="form-control size-4" id="Nom">

									<p class="text-dark size-4 m-0 my-1 mt-3">Renseignez votre  Prenom
									</p>
									<input type="text" class="form-control size-4" id="Prenom">

									<p class="text-dark size-4 m-0 my-1 mt-3">Renseignez votre  Email
									</p>
									<input type="email" class="form-control size-4" id="Email">

									<div class="text-center mt-4">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<a class="button-effect-3 size-4 p-2 p-lg-2 is-pointer px-5" onclick="selectInfo()">
											<span>
												Valider la souscription
												<i class="mdi mdi-chevron-right"></i>
											</span>
										</a>
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
									</div>
								</div>


								<div class="proceess-init">
									<center id="loading-indicator" class="d-none">
										<img src="{{ asset('images/loader.svg')}}" width="200px">
									</center>

									<div class="d-none" id="success-process">
										<p class="text-dark text-center py-2 size-6 fw-4">Félicitations</p>

										<div class="container-fluid">
											<div class="row">
												<div class="col-lg-12 m-auto">
													<div class="m-1 p-4 pt-2 py-3 alert alert-success border-success rounded">
														Notre collaborateur vous contactera dans les plus brefs délais pour procéder démarrer la première étape et vous communiquera les modalités de notre pack création
													</div>

													<div class="text-center mt-4">
														<br class="d-sm-block d-md-block d-lg-none d-lg-none">
														<a class="button-effect-3 size-4 p-2 p-lg-2 is-pointer px-5" onclick="newPage('/')">
															<span>
																Acceuil
																<i class="mdi mdi-chevron-right"></i>
															</span>
														</a>
														<br class="d-sm-block d-md-block d-lg-none d-lg-none">
														<br class="d-sm-block d-md-block d-lg-none d-lg-none">
														<br class="d-sm-block d-md-block d-lg-none d-lg-none">
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<script>
var data = {};
function selectInfo() {
  const e = document.querySelector("#radioMadame")?.checked,
    o = document.querySelector("#radioMonsieur")?.checked;
  return (
    (data.Civilite = o ? "Monsieur" : e ? "Madame" : ""),
    (data.Nom = document.querySelector("#Nom")?.value),
    (data.Prenom = document.querySelector("#Prenom")?.value),
    (data.Email = document.querySelector("#Email")?.value),
    (data.NomEntreprise = document.querySelector("#NomEntreprise")?.value),
    1 != e && 1 != o && "Indépendant" == data.typeUser
      ? (document.querySelector("#error-display").classList.remove("d-none"),
        (document.querySelector("#error-display").innerText =
          "Veuillez selectionner la civilité"),
        document
          .querySelector("#error-display")
          .scrollIntoView({ behavior: "smooth", block: "end" }),
        void setTimeout(() => {
          document.querySelector("#error-display").classList.add("d-none");
        }, 4e3))
      : data.NomEntreprise || "Indépendant" == data.typeUser
      ? data.Nom
        ? data.Prenom
          ? data.Email
            ? (document.querySelector("#form-demande").classList.add("d-none"),
              document.querySelector("#informations").classList.add("d-none"),
              document
                .querySelector("#loading-indicator")
                .classList.remove("d-none"),
              console.log(data),
              void axios
                .post("/save/deleguer-ma-comptabilite", { ...data })
                .then(function (e) {
                  console.log(e.data);
                  const o = e.data;
                  document
                    .querySelector("#loading-indicator")
                    .classList.add("d-none"),
                    "success" == o.code
                      ? document
                          .querySelector("#success-process")
                          .classList.remove("d-none")
                      : ((document.querySelector("#error-display").innerText =
                          o.message),
                        document
                          .querySelector("#error-display")
                          .scrollIntoView({ behavior: "smooth", block: "end" }),
                        setTimeout(() => {
                          document
                            .querySelector("#error-display")
                            .classList.add("d-none");
                        }, 8e3));
                })
                .catch(function (e) {
                  console.log(e),
                    document
                      .querySelector("#form-demande")
                      .classList.remove("d-none"),
                    document
                      .querySelector("#informations")
                      .classList.remove("d-none"),
                    document
                      .querySelector("#loading-indicator")
                      .classList.add("d-none");
                }))
            : (document
                .querySelector("#error-display")
                .classList.remove("d-none"),
              (document.querySelector("#error-display").innerText =
                "Veuillez renseigner le champ Email"),
              document
                .querySelector("#error-display")
                .scrollIntoView({ behavior: "smooth", block: "end" }),
              void setTimeout(() => {
                document
                  .querySelector("#error-display")
                  .classList.add("d-none");
              }, 4e3))
          : (document
              .querySelector("#error-display")
              .classList.remove("d-none"),
            (document.querySelector("#error-display").innerText =
              "Veuillez renseigner le champ Prenom"),
            document
              .querySelector("#error-display")
              .scrollIntoView({ behavior: "smooth", block: "end" }),
            void setTimeout(() => {
              document.querySelector("#error-display").classList.add("d-none");
            }, 4e3))
        : (document.querySelector("#error-display").classList.remove("d-none"),
          (document.querySelector("#error-display").innerText =
            "Veuillez renseigner le champ Nom"),
          document
            .querySelector("#error-display")
            .scrollIntoView({ behavior: "smooth", block: "end" }),
          void setTimeout(() => {
            document.querySelector("#error-display").classList.add("d-none");
          }, 4e3))
      : (document.querySelector("#error-display").classList.remove("d-none"),
        (document.querySelector("#error-display").innerText =
          "Veuillez renseigner le champ Nom Entreprise"),
        document
          .querySelector("#error-display")
          .scrollIntoView({ behavior: "smooth", block: "end" }),
        void setTimeout(() => {
          document.querySelector("#error-display").classList.add("d-none");
        }, 4e3))
  );
}
(data.typeUser = document.querySelector("#typeUser")?.innerText),
  (data.typePack = document.querySelector("#typePack")?.innerText),
  (data.Prix = document.querySelector("#Prix")?.innerText),
  (data.TypeAbonnement = document.querySelector("#TypeAbonnement")?.innerText);

</script>


{% endblock %}
{% block footer %}{% endblock %}
