{% extends 'base.html.twig' %}

{% block title %}Apropos | JVGO
{% endblock %}

{% block body %}
	<div class="container-fluid mt-1 py-2" >
		<div style="margin-top:5em" class="d-sm-none d-md-block d-lg-block"></div>
		<div style="margin-top:2em" class="d-sm-block d-lg-none d-xl-none"></div>
		<div class="row p-2">
			<div class="col-lg-12 m-auto">
				<div class="container-fluid " style="padding-top:15px; padding-bottom:15px">
					<div class="row">
						<div class="col-lg-10 pt-5 pt-sm-2 pt-md-2 m-auto text-center">
							<h1 class="m-0 text-center">
								<span class="size-10 font-ubuntu fw-5  ">Jvgo Blog</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid mt-3 mt-sm-2 mt-md-2">
		<div class="row p-2  px-sm-0 px-md-0">
			<div class="col-lg-12 m-auto">
				<div class="container  px-sm-0 px-md-0" style=" padding-bottom:80px">
					<div class="row px-sm-3 px-md-3">
						<div class="col-lg-4 col-md-12 col-sm-12">
							<a href="/contenu/actualite/1" class="text-dark">
								<div class="m-2 bg-light p-2 p-lg-4">
									<img src="{{asset('images/act1.jpg')}}" class="row-5 text-center" alt=""/>
									<p class="size-7 text-black fw-5 m-0 mt-4">

										<u class="fw-bold is-text-primary">Pourquoi choisir la Belgique pour créer son entreprise?</u>

									</p>

									<p class="size-7 mt-2 ">
										Créer une entreprise en B...<u>En découvrir plus.</u>
									</p>
									<p class="opacity-2">08/03/2022</p>
								</div>
							</a>
						</div>

						<div class="col-lg-4 col-md-12 col-sm-12">
							<a href="/contenu/actualite/1" class="text-dark">
								<div class="m-2 bg-light p-2 p-lg-4">
									<img src="{{asset('images/act1.jpg')}}" class="row-5 text-center" alt=""/>
									<p class="size-7 text-black fw-5 m-0 mt-4">

										<u class="fw-bold is-text-primary">Comment créer son entreprise en Belgique ?</u>

									</p>

									<p class="size-7 mt-2">
										La création d’entreprise ...<u>En découvrir plus.</u>
									</p>
									<p class="opacity-2">26/01/2022</p>
								</div>
							</a>
						</div>

						<div class="col-lg-4 col-md-12 col-sm-12">
							<a href="/contenu/actualite/1" class="text-dark">
								<div class="m-2 bg-light p-2 p-lg-4">
									<img src="{{asset('images/act1.jpg')}}" class="row-5 text-center" alt=""/>
									<p class="size-7 text-black fw-5 m-0 mt-4">
										<u class="fw-bold is-text-primary">Pourquoi choisir la Belgique pour créer son entreprise?</u>
									</p>

									<p class="size-7 mt-2">
										Créer une entreprise en B...<u>En découvrir plus.</u>
									</p>
									<p class="opacity-2">08/03/2022</p>
								</div>
							</a>
						</div>

						{% for blog in blogs %}
							<div class="col-lg-4 col-md-12 col-sm-12">
							<a href="/contenu/actualite/dynamic/{{blog.id}}" class="text-dark">
								<div class="m-2 bg-light p-2 p-lg-4">
									{% if blog.image == '' %}
									
									<img src="{{asset('uploads/{{blog.image}}')}}" class="row-5 text-center" alt=""/>
									{% else %}
										<img src="{{asset('images/act1.jpg')}}" class="row-5 text-center" alt=""/>
									{% endif %}
									<p class="size-7 text-black fw-5 m-0 mt-4">
										<u class="fw-bold is-text-primary">{{ blog.titre}}</u>
									</p>

									<p class="size-7 mt-2">
										{{ blog.description}}
									</p>
									<p class="opacity-2">{{ blog.publication}}</p>
								</div>
							</a>
						</div>
						{% endfor %}


					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
