<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Acceuil | JVGO Business Builder
			{% endblock %}
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" href="{{ asset('images/jvgo_favicon.png') }}" type="image/x-icon"/>
		<link rel="stylesheet" href="{{ asset('css/materialdesignicons.min.css') }}"/>
		<link
		rel="stylesheet" href="{{ asset('css/main.min.css') }}"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body class="p-0 m-0">
		{% block div %}
			<div class="container-fluid pt-1 border-bottom d-lg-none d-xl-none d-md-none d-sm-block d-xs-block bg-dark-blue not-immuable-on-mobile">
				<div class="row">
					<div class="col-lg-12 col-xs-12 col-md-12 m-auto p-0">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div class="flex align-items py-2">										
										
										<i class="mdi mdi-phone text-light size-5 fw-4"></i>
											<span class="px-2 m-0 size-2 text-light">
												Contacter un conseiller Jvgo <b>+32 (0)4 775 068 67</b>
											</span>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- NAVIGATION MOBILE (  TABLET )-->

			<div class="container-fluid pt-1 border-bottom d-lg-none d-xl-none d-md-block d-sm-none d-xs-none">
				<div class="row">
					<div class="col-lg-12 col-xs-12 col-md-12 m-auto">
						<div class="container-fluid">
							<div class="row">
								<div class="col-4">
									<div class="flex align-items">
										<i class="mdi mdi-phone has-text-light size-9 fw-4"></i>
										<div class="p-2">
											<p class="p-0 m-0 size-6">Nous appeler :</p>
											<p class="p-0 m-0 mt-1 fw-5">+32 (0)4 775 068 67</p>
										</div>
									</div>
								</div>

								<div class="col-4">
									<div class="flex align-items">
										<i class="mdi mdi-email-outline has-text-light size-9 fw-4"></i>
										<div class="p-2">
											<p class="p-0 m-0 size-6">Envoyer un mail :</p>
											<p class="p-0 m-0 mt-1 fw-5">contact@jvgo.be</p>
										</div>
									</div>
								</div>

								<div class="col-4">
									<div class="flex align-items">
										<i class="mdi mdi-timer has-text-light size-9 fw-4"></i>
										<div class="p-2">
											<p class="p-0 m-0 size-6">Horaires :</p>
											<p class="p-0 m-0 mt-1 fw-5">lu-ve : 9h-19h</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- HEADER -->
			<div class="container-fluid border-bottom header-bar bg-light d-lg-block d-xl-block d-md-none d-sm-none">
				<div class="row">
					<div class="col-lg-11 m-auto py-2">
						<div class="container">
							<div class="row">
								<div class="col-lg-3 px-3">
									<a href="/">
										<img src="{{ asset('images/jbvo.png')}}" alt="" srcset="" class="logo"/>
									</a>
								</div>

								<div class="col-lg-1"></div>
								<div class="col-lg-8 section-contact">
									<div class="container">
										<div class="row">
											<div class="col-lg-4">
												<div class="flex align-items">
													<i class="mdi mdi-phone has-text-light size-9 fw-4"></i>
													<div class="p-2 px-4">
														<p class="p-0 m-0 size-5">Nous appeler :</p>
														<p class="p-0 m-0 mt-1 fw-3 size-4">
															+32 (0)4 775 068 67
														</p>
													</div>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="flex align-items">
													<i class="mdi mdi-email-outline has-text-light size-9 fw-4"></i>
													<div class="p-2 px-4">
														<p class="p-0 m-0 size-5">Envoyer un mail :</p>
														<p class="p-0 m-0 mt-1 fw-3 size-4">contact@jvgo.be</p>
													</div>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="flex align-items">
													<i class="mdi mdi-timer has-text-light size-9 fw-4"></i>
													<div class="p-2 px-4">
														<p class="p-0 m-0 size-5">Horaires :</p>
														<p class="p-0 m-0 mt-1 fw-3 size-4">lu-ve : 9h-19h</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- NAVIGATION -->

			<div class="container-fluid pt-1 border-bottom section-navigation bg-white">
				<div class="row d-lg-block d-xl-block d-md-none d-sm-none">
					<div class="col-lg-12 m-auto py-2">
						<div class="container-fluid">
							<div class="col-lg-6 m-auto">
								<ul class="flex justify-content-center no-style navigation-bar m-1 place-items">
									{# <li class="px-4">
										<div class="py-1 fw-3 no-wrap activ-nav- hoverable">
											<a href="/" class="text-dark size-5">Découvrir Jvgo</a>
										</div>
									</li> #}
									<li class="px-4">
										<div class="py-1 fw-3 no-wrap">
											<a href="/creation-entreprise" class="text-dark size-5">Création d’entreprise</a>
											<span>
												<i class="mdi mdi-chevron-down size-5"></i>
											</span>
										</div>
										<ul>
											<li class="fw-3 p-1 pt-2 size-4 opacity-2" onclick="newPage('/creation-entreprise')">Devenir independant</li>
											<li class="fw-3 p-1 pt-2 size-4 opacity-2" onclick="newPage('/creation-entreprise')">
												Ressource creation entreprise
											</li>
										</ul>
									</li>
									<li class="px-4">
										<div class="py-1 fw-3 no-wrap">
											<a href="/deleguer-ma-comptabilite" class="text-dark size-5">Comptabilité en ligne</a>
											<span>
												<i class="mdi mdi-chevron-down size-5"></i>
											</span>
										</div>
										<ul>
											<li class="fw-3 p-1 pt-2 size-4 opacity-2" onclick="newPage('/deleguer-ma-comptabilite')">Pour les independants</li>
											<li class="fw-3 p-1 pt-2 size-4 opacity-2" onclick="newPage('/deleguer-ma-comptabilite')">Pour les societes</li>
											<li class="fw-3 p-1 pt-2 size-4 opacity-2" onclick="newPage('/deleguer-ma-comptabilite')">Ressources comptables</li>
										</ul>
									</li>

									<li class="px-4">
										<div class="py-1 fw-3 no-wrap hoverable">
											<a href="/blog" class="text-dark size-5">Blog</a>
										</div>
									</li>

									<li class="px-4">
										<div class="py-1 fw-3 no-wrap hoverable">
											<a href="/services" class="text-dark size-5">Nos services</a>
										</div>
									</li>

									<li class="px-4">
										<div class="py-1 fw-3 no-wrap hoverable">
											<a href="/apropos" class="text-dark size-5">Apropos</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% block hamburger %}

				<!-- MOBILE HAMBURGER -->
				<div class="row d-lg-none d-xl-none d-md-block d-sm-block d-xs-block">
					<div class="col-12 py-2 d-flex justify-content-between align-items-center">
						<img src="{{asset('images/jbvo.png')}}" width="170px" onclick="newPage('/')" alt="" srcset=""/>

						<div class="hamburger-btn">
							<p class="size-6">
								<i class="mdi mdi-menu"></i>
								<span>
									<b>Menu</b>
								</span>
							</p>
						</div>
					</div>
				</div>

				{% endblock %} 
			</div>

			<!-- MOBILE NAV FULL -->
			<div class="container-fluid hamburger-mobile-menu d-none p-0">
				<div class="col-lg-6 p-0">
					<p class="size-large px-3 text-white navlink d-flex justify-content-end close-hamburger navlink">
						&times;
					</p>
					<div class="mt-4 d-flex flex-column justify-content-start mobile-view-nav">

						<div class="py-3 px-4 fw-3 border-bottom">
							<a href="/" class="text-white">Acceuil</a>
						</div>

						<div class="py-3 px-4 fw-3 border-bottom">
							<a href="/creation-entreprise" class="text-white">Création d’entreprise</a>
						</div>

						<div class="py-3 px-4 fw-3 border-bottom">
							<a href="/deleguer-ma-comptabilite" class="text-white">Comptabilité en ligne</a>
						</div>

			
						<div class="py-3 px-4 fw-3 border-bottom">
							<a href="/blog" class="text-white">Blog</a>
						</div>

						<div class="py-3 px-4 fw-3 border-bottom">
							<a href="/services" class="text-white">Nos services</a>
						</div>

						<div class="py-3 px-4 fw-3 border-bottom">
							<a href="/apropos" class="text-white">Apropos</a>
						</div>

					</div>
				</div>
			</div>

		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}

			<div class=" bg-dark font-ubuntu px-lg-3">
				<div class="container-fluid p-2 pb-0 p-lg-4 text-light">
					<div class="row p-2 p-lg-3">
						<div class="col-lg-4 p-4 text-sm-center text-md-center text-lg-left text-xl-left">
							<img src="{{asset('images/jbvo.png')}}" onclick="newPage('/')" width="190px" alt=""/>
							<p class="size-5 opacity-2">
								JVGO vous aide à la création de votre entreprise, au coaching d’équipe, à optimiser votre fiscalité.
							</p>

							<div class="d-flex justify-content-lg-center justify-content-sm-center">
								<p class="rounded p-3 size-9 ">
									<i class="mdi mdi-facebook"></i>
								</p>
								<p class="rounded p-3 size-9 ">
									<i class="mdi mdi-linkedin"></i>
								</p>
							</div>

						</div>
						<div class="col-lg-3 p-lg-4 px-sm-4 px-md-4">
							<p class="font-ubuntu size-6 fw-bold pb-2 pt-3">JVGO</p>
							
							<p class="m-0 size-5 opacity-2 is-pointer mb-2" onclick="newPage('/apropos')">À propos</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-1" onclick="newPage('/condition-generale-de-vente')">CGV</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-1" onclick="newPage('/mentions-legales')">Mentions Légales</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-1" onclick="newPage('/politique-de-confidentialite')">Politique de confidentialité</p>
						</div>

						

						<div class="col-lg-2 p-lg-4 px-sm-4 px-md-4">

							<p class="font-ubuntu size-6 pb-2 fw-bold pt-3">NOS SERVICES</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-2" onclick="newPage('/services/creation-entreprise')">Création d'entreprise</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-1" onclick="newPage('/services/fiscalite')">Optimisation fiscale</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-1" onclick="newPage('/services/comptabilite')">Comptabilité</p>

						</div>

						<div class="col-lg-3 p-lg-4 px-sm-4 px-md-4">

							<p class="font-ubuntu size-6 fw-bold pb-2 pt-3">CONTACT</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-2">
								<i class="mdi mdi-map-marker pr-4"></i>
								207 Avenue Louise, 1050 Bruxelles, BELGIQUE
							</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-2">
								<i class="mdi mdi-phone pr-4"></i>
								Phone:<a class="text-light" href="tel:+32 (0)4 775 068 67">
									+32 (0)4 775 068 67</a>
							</p>
							<p class="m-0 size-5 opacity-2 is-pointer mb-2">
								<i class="mdi mdi-email pr-4"></i>
								<a class="text-light" href="mailto:contact@jvgo.be">contact@jvgo.be</a>
							</p>


						</div>

					</div>
				</div>
			</div>

		{% endblock %}

		{% block copyright %}
		<div class="bg-dark py-4" style="border-top:1px solid rgba(230,200,200,.06)">
			<center>
				<p class="text-white opacity-2 font-ubuntu mb-0 size-3">JVGO © Copyright 2023</p>
			</center>
		</div>
		{% endblock %}

		<!-- Loader -->
		<div id="loader"></div>

		<!-- js  -->
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="{{ asset('js/custom/main.min.js')}}"></script>
	</body>
</html>
