{% extends 'base.html.twig' %}

{% block title %}Procedure creation |
	{{ TypeEntreprise}}
{% endblock %}

{% block body %}
	<style>
		.not-immuable-on-mobile {
			display: none !important;
		}
	</style>
	{% block div %}{% endblock %}

	{% block hamburger %}{% endblock %}

	<!-- MOBILE HAMBURGER -->
	<div class="container-fluid shadow-sm bg-white">
		<div class="row">
			<div class="col-12 py-2 d-flex justify-content-center align-items-center">
				<img src="{{asset('images/jbvo.png')}}" width="160px" class="is-pointer" onclick="newPage('/')" alt="" srcset=""/>
			</div>
		</div>
	</div>


	<div class="col-12 d-flex justify-content-center" style="padding-top:40px; padding-bottom:30px">
		<div class="container-fuild section-navigation fv">
		<div class="row">
			<div class="col-lg-10 m-auto">

				<h1 class="is-text-primary text-center fs-3 fw-3 mt-4 size-7">
					Création de votre société

				</h1>
				<h2 class="text-center pt-3 pb-4 size-7">
					Categorie :
					<b id="TypeEntreprise">{{TypeEntreprise}}</b>
				</h2>
				
			</p>

			<ul class="stepper d-flex no-style justify-content-center">
				<li class="stepper-active" id="step-1">
					<div></div>
				</li>
				<li id="step-2">
					<div></div>
				</li>
				<li id="step-3">
					<div></div>
				</li>
				<li id="step-4">
					<div></div>
				</li>
			</ul>

			<p class="text-center size-7 fw-3 alert alert-danger d-none" id="error-display"></p>
			<div class="container-fluid p-sm-2 p-md-2">
				<div
					class="row">

					<!-- content-step-1 -->
					<div class="col-lg-7 m-auto" id="content-step-1">
						<p class="navlink pt-4" onclick="newPage('/creation-entreprise')">
							<i class="mdi mdi-chevron-left size-6"></i>
							<u>Retour</u>
						</p>
						<p class="text-dark text-center py-4 size-7 fw-4">
							Si vous avez déjà choisi le nom commercial de votre société</p>

						<div class="container-fluid  border rounded">
							<div class="row pt-1">
								<div class="col-lg-12 m-auto">
								
									<div class="m-1 p-4 p-sm-2 p-md-2 pb-2">
										<p class=" pb-2"></p>
										<p class="text-dark size-7 m-0 my-3">Renseignez-le ici
										</p>
										<input type="text" id="NomEntreprise" class="form-control size-4" placeholder="Ex: jvgo consulting">
									</p>

									<div class="mt-4 mb-5 text-sm-center text-md-center text-lg-start">
										<br>
										<a class="button-effect-3 size-4 p-2 p-lg-2  px-5" onclick="selectNomEntreprise(2)">
											<span class="size-7 px-3">
												Continuer
												<i class="mdi mdi-chevron-right"></i>
											</span>
										</a>
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<span class="text-dark text-center py-lg-4 px-3  pt-2 size-7 navlink p-sm-4" onclick="selectNomEntreprise(2)">
											Saisir plus tard
											<i class="mdi mdi-chevron-right"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- content-step-2 -->
				<div class="col-lg-7 m-auto d-none" id="content-step-2">
					<p class="navlink size-7" onclick="annulNomEntreprise(1)">
						<i class="mdi mdi-chevron-left size-8"></i>
						<u>Retour</u>
					</p>
					<p class="text-dark text-center py-2 size-6 fw-4">Vos informations</p>

					<div class="container-fluid py-lg-3 border rounded">
						<div class="row">
							<div class="col-lg-12 m-auto">
								<div class="m-1 p-lg-4 pt-2">

									<div class="container-fluid p-0">
										<div class="row">

											<div class="col-lg-6 m-auto ">
												<div class="rounded border pl-4">
													<div class="form-check px-3 py-2 form-check-inline">
														<input class="form-check-input pl-4" type="radio" name="inlineRadioOptions" id="radioMadame" value="option1">
														<label class="form-check-label is-pointer size-7" for="radioMadame">Madame</label>
													</div>
												</div>
											</div>


											<div class="col-lg-6 m-auto ">
												<br class="d-sm-block d-md-block d-lg-none d-lg-none">
												<div class="rounded border pl-4">
													<div class="form-check px-3 py-2 form-check-inline">
														<input class="form-check-input pl-4" type="radio" name="inlineRadioOptions" id="radioMonsieur" value="option2">
														<label class="form-check-label is-pointer size-7" for="radioMonsieur">Monsieur</label>
													</div>
												</div>
											</div>

										</div>
									</div>
									<p class="text-dark size-4 m-0 my-1 mt-3">Renseignez votre Nom
									</p>
									<input type="text" class="form-control size-4" id="Nom">

									<p class="text-dark size-4 m-0 my-1 mt-3">Renseignez votre  Prenom
									</p>
									<input type="text" class="form-control size-4" id="Prenom">

									<p class="text-dark size-4 m-0 my-1 mt-3">Renseignez votre  Email
									</p>
									<input type="email" class="form-control size-4" id="Email">

									<p class="text-dark size-4 m-0 my-1 mt-3">Renseignez votre  Mobile
									</p>
									<input type="tel" class="form-control size-4" id="Mobile">

									<div class="text-center mt-5 mb-3">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<a class="button-effect-3 size-4 p-2 p-lg-2 is-pointer px-5" onclick="selectInfo(3)">
											<span class=" px-3 size-7">
												Continuer
												<i class="mdi mdi-chevron-right"></i>
											</span>
										</a>
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- content-step-3 -->
				<div class="col-lg-7 m-auto d-none" id="content-step-3">

					<p class="navlink size-7" onclick="annulInfo(2)">
						<i class="mdi mdi-chevron-left size-9"></i>
						<u>Retour</u>
					</p>


					<div class="container-fluid py-3 p-sm-1 border rounded border selectable-box">
						<div class="row">
							<div class="col-lg-12 m-auto">
								<div class="m-1 p-2 p-lg-4 pt-2">
									<p class="size-7 fw-bold font-merriweather">
										Ce pack comprend:
									</p>
									<ul class="size-7 no-style p-0">
										<li class="pb-3  d-flex justify-content-lg-start gap-2">
											<i class="mdi mdi-check"></i>
											Rédaction des
																																																							            Statuts de la Société
										</li>
										<li class="pb-3  d-flex justify-content-lg-start gap-2">
											<i class="mdi mdi-check"></i>
											Étude de
																																																							            faisabilité
										</li>
										<li class="pb-3  d-flex justify-content-lg-start gap-2">
											<i class="mdi mdi-check"></i>
											Fourniture d’un plan (cartographie) détaillé du process
																																																							            d’incorporation de la société
										</li>
										<li class="pb-3  d-flex justify-content-lg-start gap-2">
											<i class="mdi mdi-check"></i>
											Vérification du
																																																							            dossier
										</li>
										<li class="pb-3  d-flex justify-content-lg-start gap-2">
											<i class="mdi mdi-check"></i>
											Etablissement du
																																																							            plan financier par notre expert comptable
																																																							            partenaire
										</li>
										<li class="pb-3  d-flex justify-content-lg-start gap-2">
											<i class="mdi mdi-check"></i>
											Prise de
																																																							            rendez-vous pour passage de l’acte authentique
																																																							            devant le notaire
										</li>
										<li class="pb-3  d-flex justify-content-lg-start gap-2">
											<i class="mdi mdi-check"></i>
											Immatriculation
																																																							            auprès du greffe
										</li>
									</ul>
									<p class="text-center">
										<button class="btn btn-outline-dark mt-4 px-3" onclick="saveInfo(4)">
											Continuer
										</button>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- content-step-4 -->
				<div class="col-lg-7 m-auto d-none" id="content-step-4">

					<p class="navlink size-7" onclick="annulInfo(3)">
						<i class="mdi mdi-chevron-left size-8"></i>
						<u>Retour</u>
					</p>

					<center id="loading-indicator">
						<img src="{{ asset('images/loader.svg')}}" width="200px">
					</center>

					<div class="d-none" id="success-process">
						<p class="text-dark text-center py-2 size-6 fw-4">Félicitations</p>

						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-12 m-auto">
									<div class="m-1 p-4 pt-2 py-3 alert alert-success border-success rounded">
										Notre collaborateur vous contactera dans les plus brefs délais pour procéder démarrer la première étape et vous communiquera les modalités de notre pack création
									</div>

									<div class="text-center mt-4">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<a class="button-effect-3 size-4 p-2 p-lg-2 is-pointer px-5" onclick="newPage('/')">
											<span class=" px-3">
												Acceuil
												<i class="mdi mdi-chevron-right"></i>
											</span>
										</a>
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
										<br class="d-sm-block d-md-block d-lg-none d-lg-none">
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
</div>
</div>

<script src="{{ asset('js/custom/creation-entreprise.min.js')}}"></script>
{% endblock %}
{% block footer %}{% endblock %}
